{% extends "auctions/layout.html" %}

{% block body %}

    <!-- Page title -->
    <h2 class="header-title">Login</h2>

    <!-- Display error messages if any -->
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <!-- Login form -->
    <form class="form" action="{% url 'login' %}" method="post">
        {% csrf_token %}
            <!-- Username input field -->
            <div class="form-group">
                <input autofocus class="form-control" type="text" name="username" placeholder="Username">
            </div>
            
            <!-- Password input field -->
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            
            <!-- Submit button and registration link -->
            <div class="register-buttons">
                <input class="btn btn-primary" type="submit" value="Login">
                <!-- Link to registration page for new users -->
                <div class="register-link">Don't have an account? <a href="{% url 'register' %}">Register here.</a></div>
            </div>
    </form>

{% endblock %}